@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    padding: 1px;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Comfortaa', cursive;

}

header nav {
    background-color: lightgray;
    height: 50px;
}

nav {
    /*border: 10px dotted black; */
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>a {
    text-decoration: none;
    color: rgb(85, 85, 85);
    padding: 0 30px;
    font-size: 20px;
}


main {
    padding-top: 20px;
    padding-bottom: 20px;
}


footer {
    padding: 10px 30px;
    background-color: rgb(221, 221, 221);
    color: rgb(85, 85, 85);
    font-size: 12px;
    text-align: end;
    text-transform: uppercase;
 
}

.about_us {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    align-items: baseline;
    padding: 20px 30px;

}

.about_us_description {
    display: flex;
    flex-direction: column;

}

.about_us_description * {
    padding: 5px;
}

.about_us img {
    width: 200px;
    object-fit: contain;
    object-position: top;
    padding: 10px;
}

.my_game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 20px auto;
}

.my_game>* {
    text-align: center;
}

.my_game input,
button {
    border: none;
    margin: 5px;
    min-height: 30px;
}

.my_game button {
    width: max-content;
    background-color: rgb(217, 249, 217);
    padding: 0 10px;
    border-radius: 15px;
}

.my_game input {
    background-color: rgb(241, 241, 241);
    outline: none;
    border-radius: 15px;
}

.choosed_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.choosed_block_container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 650px;
}

.choosed_block_container > div {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 161, 190);
    border-radius: 80px;
}

.choosed_element {
    border: 3px solid blue;
}

.posts_block {
    width: 600px;
    margin: 20px auto;
}

.posts_block > h2 {
    text-align: center;
}

.posts_block-container > * {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
}
